.map_container{
  width: 340px;

  .name{
    border: none;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 8px;

    &:hover, &:focus{
      border-radius: 5px;
      border-color: rgba(0, 0, 0, .4);
    }
  }

  .map{
    border: solid 8px rgba(50, 255, 50, 1);
    border-radius: 12px;
    background: rgba(0, 255, 80, .5);
    width: 322px;
    height: 322px;

    .squares_container{
      border: solid 1px white;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      box-sizing: border-box;

      .map_square{
        padding: 0;
        margin: 0;
        display: flex;
        border: solid 1px rgba(255, 255, 255, .8);
        flex-basis: 40px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        box-sizing: border-box;
      }
    }
  }
}
